<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cart">  


  <select id="CartList"
      resultType="com.green.user.cart.vo.CartVo">
      SELECT C.C_IDX,
             W.W_NAME ,
             S.S_NAME,
             C.C_COUNT,
             WL.W_PRICE,
             U.U_NO,
             C.C_COUNT * WL.W_PRICE AS C_ALLPRICE
        FROM CART C 
               LEFT JOIN WINE W ON C.W_NO = W.W_NO 
               LEFT JOIN WINELIST WL ON C.W_NO = WL.W_NO 
               LEFT JOIN STORE S ON C.S_NO = S.S_NO
               LEFT JOIN TUSER U ON C.U_NO = U.U_NO
               WHERE U.U_NO = #{u_no}
   </select>

<delete id="DeleteCartList">

DELETE FROM CART
WHERE  U_NO  =  #{u_no}
AND    C_IDX =  #{c_idx}

</delete>


</mapper>





   