<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Store">
   
   <!-- 영태 -->
<select id="SearchList1" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
</select>
<select id="SearchList2" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
</select>
<select id="SearchList3" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
</select>
<select id="SearchList4" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'PORT'
</select>
<select id="SearchList5" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'PORT'   
</select>
<select id="SearchList6" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'PORT'   
</select>
<select id="SearchList7" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'DESSERT'
</select>
<select id="SearchList8" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'DESSERT'   
</select>
<select id="SearchList9" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'DESSERT'   
</select>
<select id="SearchList10" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'RED'
</select>
<select id="SearchList11" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'RED'   
</select>
<select id="SearchList12" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'RED'   
</select>
<select id="SearchList13" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'ROSE'
</select>
<select id="SearchList14" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'ROSE'   
</select>
<select id="SearchList15" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'ROSE'   
</select>
<select id="SearchList16" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'WHITE'
</select>
<select id="SearchList17" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'WHITE'   
</select>
<select id="SearchList18" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'WHITE'   
</select>
<select id="SearchList19" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'SPARKLING'
</select>
<select id="SearchList20" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'SPARKLING'   
</select>
<select id="SearchList21" resultType="com.green.store.vo.RegVo">
    SELECT W.*
    FROM WINE W
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'SPARKLING'   
</select>
   
   <!-- 민규 -->
   <select id="SelectStoreList" resultType="com.green.store.vo.StoreVo">
      SELECT *
       FROM  STORE
      WHERE  S_ADDRESS= #{ u_address }
      
   </select> 
   
   <!-- 민규 -->
   <select id="SelectStrVo" resultType="com.green.store.vo.StoreVo">
      SELECT *
       FROM  STORE
      WHERE  S_NO = #{ s_no }
   </select>
   
   <!-- 영태 -->
   <insert id="InsertWine" parameterType="map">
    
    INSERT INTO WINELIST 
    (W_NO, W_AMOUNT, W_PRICE, S_NO, WL_IDX)
    VALUES 
    (#{selectedOption}, #{w_amount}, #{w_price}, #{s_no}, ( SELECT NVL(MAX(WL_IDX),0)+1 FROM WINELIST))
   </insert>
   
    <select id="Storelogin"
      resultType="com.green.store.vo.StoreVo">
      SELECT *
       FROM  STORE
      WHERE S_ID = #{ s_id }
       AND  S_PW = #{ s_pw }
   </select>
   
   <!--  매장가입 -->
   <insert id="StoreInsert">

      INSERT INTO STORE (
         S_NO,
         S_ID,
         S_PW,
         S_NAME,
         S_SN,
          S_POSTCODE,
           S_ADDRESS,
         S_PHONE,
         S_CONT,
            S_DETAILADDRESS,
           S_EXTRAADDRESS,
         S_IMGNAME,
           S_IMGEXT,
           S_SIMGNAME
      ) VALUES (
      ( SELECT NVL(MAX(S_NO),0)+1 FROM STORE),
      #{ s_id },
      #{ s_pw },
      #{ s_name },
      #{ s_sn },
      #{ s_postcode },
      #{ s_address },
      #{ s_phone },
      #{ s_cont },
      #{ s_detailAddress },
      #{ s_extraAddress },
      #{ s_imgname   },     
       #{ s_imgext    },     
      #{ s_simgname  }   
      )
   </insert>
   
   <!-- 임규 -->
   <select id="WineList" resultType="com.green.store.vo.HavingWineVo">
   
      SELECT W.W_NAME,
       W.W_LOCATION,
       W.W_KIND,
       W.W_VINTAGE,
       WL.W_AMOUNT,
       WL.W_PRICE,
       S.S_NAME,
       WL.WL_IDX,
       S.S_NO,
       W.W_NO
      FROM WINELIST WL
       INNER JOIN WINE W ON WL.W_NO = W.W_NO
       INNER JOIN STORE S ON S.S_NO = WL.S_NO
       WHERE S.S_NO = #{s_no}
   
   </select> 
    
   <!-- 임규 -->
   <update id="UpdateWineList">
   UPDATE WINELIST
   SET    W_AMOUNT  =  #{w_amount},
          W_PRICE   =  #{w_price}
   WHERE  WL_IDX  =  #{wl_idx}
   </update>
   
   <delete id="DeleteWineList">
   
   DELETE FROM WINELIST
   WHERE  WL_IDX  =  #{wl_idx}
   
   </delete>
   
   <select id="SelectList" resultType="com.green.store.vo.HavingWineVo">
   
   SELECT W.W_NAME,
       W.W_LOCATION,
       W.W_KIND,
       W.W_VINTAGE,
       WL.W_AMOUNT,
       WL.W_PRICE,
       WL.WL_IDX,
       S.S_NO,
       W.W_NO
      FROM WINELIST WL
       INNER JOIN WINE W ON WL.W_NO = W.W_NO
       INNER JOIN STORE S ON S.S_NO = WL.S_NO
       WHERE WL.WL_IDX  =  #{wl_idx}
       
   
   
   </select>   
   
   <select id="GetName" resultType="com.green.store.vo.RegVo">
   
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO, WL.WL_IDX
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
    AND       S.S_NO  =  #{s_no}
   
   </select>
   
    <select id="StoreList" resultType="com.green.store.vo.StoreVo">
    SELECT S_NAME , S_CONT, S_PHONE, 
           S_ADDRESS, S_DETAILADDRESS, S_NO, S_SIMGNAME
    FROM   STORE
    WHERE S_NO &lt;&gt; 99
   </select>
   
 
   
    <select id="SnameSearch" resultType="com.green.store.vo.StoreVo">
    SELECT S_NAME , S_CONT, S_PHONE, 
           S_ADDRESS, S_DETAILADDRESS, S_NO, S_SIMGNAME
    FROM STORE
   WHERE
         UPPER(S_NAME) LIKE '%' || UPPER(#{sname_Search}) || '%'
      OR LOWER(S_NAME) LIKE '%' || LOWER(#{sname_Search}) || '%'
   </select>
   
    <select id="GetStoreInfo" resultType="com.green.store.vo.StoreVo">
    SELECT S_NAME , S_CONT, S_PHONE, 
           S_ADDRESS, S_DETAILADDRESS, S_NO, S_SIMGNAME
    FROM STORE
    WHERE   S_NO = #{s_no}
   </select>
   <select id="GetLocation" resultType="com.green.store.vo.RegVo">
   
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO, WL.WL_IDX
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
    AND S.S_NO  =  #{s_no}
   
   </select>
     
   <select id="GetAmount" resultType="com.green.store.vo.RegVo">
   
    SELECT W.W_NAME,
       W.W_LOCATION,
       W.W_KIND,
       W.W_VINTAGE,
       WL.W_AMOUNT,
       WL.W_PRICE,
       S.S_NAME,
       WL.WL_IDX,
       S.S_NO,
       W.W_NO
      FROM WINELIST WL
       INNER JOIN WINE W ON WL.W_NO = W.W_NO
       INNER JOIN STORE S ON S.S_NO = WL.S_NO
       WHERE S.S_NO = #{s_no}
       ORDER BY WL.W_AMOUNT DESC
   </select>
   
   <select id="GetAmountDown" resultType="com.green.store.vo.RegVo">
   
    SELECT W.W_NAME,
       W.W_LOCATION,
       W.W_KIND,
       W.W_VINTAGE,
       WL.W_AMOUNT,
       WL.W_PRICE,
       S.S_NAME,
       WL.WL_IDX,
       S.S_NO,
       W.W_NO
      FROM WINELIST WL
       INNER JOIN WINE W ON WL.W_NO = W.W_NO
       INNER JOIN STORE S ON S.S_NO = WL.S_NO
       WHERE S.S_NO = #{s_no}
       ORDER BY WL.W_AMOUNT ASC
   </select>
   
   <select id="GetVintage" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO, WL.WL_IDX
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
    AND S.S_NO  =  #{s_no}
</select>

<select id="Port" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_LOCATION   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_VINTAGE   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'PORT'
      AND     S.S_NO  =  #{s_no}
</select>

<select id="Dessert" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME       LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_LOCATION   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_VINTAGE    LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'DESSERT'
      AND     S.S_NO  =  #{s_no}
</select>

<select id="Red" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME       LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_LOCATION   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_VINTAGE    LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'RED'
      AND     S.S_NO  =  #{s_no}
</select>

<select id="Rose" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME       LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_LOCATION   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_VINTAGE    LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'ROSE'
      AND     S.S_NO  =  #{s_no}
</select>

<select id="White" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME       LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_LOCATION   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_VINTAGE    LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'WHITE'
     AND     S.S_NO  =  #{s_no}
</select>

<select id="Sparkling" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME       LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_LOCATION   LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_VINTAGE    LIKE '%' || INITCAP(#{searchKeyword}) || '%'
      AND     W.W_KIND     = 'SPARKLING'
      AND     S.S_NO  =  #{s_no}
</select>

<select id="IdCheck" parameterType="String" resultType="java.lang.Integer">

 SELECT COUNT(S_ID) FROM STORE 
 WHERE S_ID  =  #{s_id}

</select>

<select id="GetStoreCheck" resultType="com.green.store.vo.StoreVo">

SELECT *
       FROM STORE
       WHERE S_NO = #{s_no}

</select>
 
<update id="StoreUpdate" parameterType="Map">

UPDATE STORE
SET S_NAME  =  #{s_name},
    S_ADDRESS = #{s_address},
    S_DETAILADDRESS = #{s_detailAddress},
    S_CONT = #{s_cont},
    S_IMGNAME = #{s_imgname},
    s_IMGEXT  = #{s_imgext},
    S_SIMGNAME = #{s_simgname},
    S_EXTRAADDRESS = #{s_extraAddress},
    S_POSTCODE = #{s_postcode}
       
    WHERE S_NO = #{s_no}


</update>

<select id="SalesHistory" resultType="com.green.user.cart.vo.PaymentVo">

 SELECT DISTINCT SH.SH_DATE, SH.PAYNUM, SH.U_NO, SH.S_NO, SH.P_ALLPRICE, SH.W_NO,
                 U.U_NAME, U.U_PHONE, W.W_NAME, WL.W_PRICE, SH.P_STATE 
FROM SALESHISTORY SH
JOIN TUSER U ON SH.U_NO = U.U_NO
JOIN STORE S ON SH.S_NO = S.S_NO
JOIN WINELIST WL ON SH.W_NO = WL.W_NO
JOIN WINE W ON WL.W_NO = W.W_NO
WHERE SH.S_NO = #{s_no}
ORDER BY SH.SH_DATE DESC

</select>
 
 <select id="CountManage" resultType="int">
 
 SELECT COUNT(*)
FROM WINELIST WL
INNER JOIN WINE W ON WL.W_NO = W.W_NO
INNER JOIN STORE S ON S.S_NO = WL.S_NO
WHERE S.S_NO = #{s_no}
 
 </select>
 
 <select id="WineList2" resultType="com.green.store.vo.HavingWineVo" parameterType="map">
 
 SELECT *
 FROM (
    SELECT ROWNUM RN, A.*
    FROM (
        SELECT
            W.W_NAME,
            W.W_LOCATION,
            W.W_KIND,
            W.W_VINTAGE,
            WL.W_AMOUNT,
            WL.W_PRICE,
            S.S_NAME,
            WL.WL_IDX,
            S.S_NO,
            W.W_NO
        FROM WINELIST WL
        INNER JOIN WINE W ON WL.W_NO = W.W_NO
        INNER JOIN STORE S ON S.S_NO = WL.S_NO
        WHERE S.S_NO = #{s_no}
        ORDER BY S.S_NO ASC
    ) A
)
WHERE RN BETWEEN #{start} AND #{end}
 
 
 </select>
 
 <select id="CountStore" resultType="int">
 
 SELECT COUNT(*) FROM STORE  
 
 </select>
 
 <select id="StoreList2" resultType="com.green.store.vo.StoreVo">
   
   SELECT *
    FROM (
    SELECT ROWNUM RN, A.*
    FROM(
      SELECT S_NAME , S_CONT, S_PHONE, 
           S_ADDRESS, S_DETAILADDRESS, S_NO, S_SIMGNAME
      FROM   STORE
      ORDER BY S_NO ASC
    
    ) A
    )
   WHERE RN BETWEEN #{start} AND #{end} AND S_NO &lt;&gt; 99
   
 
 </select>
 
 <select id="CountSearchStore" resultType="int">
 
  SELECT COUNT(*)
    FROM STORE
   WHERE
         UPPER(S_NAME) LIKE '%' || UPPER(#{sname_Search}) || '%'
      OR LOWER(S_NAME) LIKE '%' || LOWER(#{sname_Search}) || '%'
 
 </select>
 
 <select id="SnameSearch2" resultType="com.green.store.vo.StoreVo">
 
 SELECT  *
 FROM (
 SELECT ROWNUM RN, A.*
 FROM(
 SELECT S_NAME , S_CONT, S_PHONE, 
           S_ADDRESS, S_DETAILADDRESS, S_NO, S_SIMGNAME
    FROM STORE
    WHERE
         UPPER(S_NAME) LIKE '%' || UPPER(#{sname_Search}) || '%'
      OR LOWER(S_NAME) LIKE '%' || LOWER(#{sname_Search}) || '%'
 ) A
 )
 WHERE RN BETWEEN #{start} AND #{end} AND S_NO &lt;&gt; 99
 </select>
   
<update id="UpdateShistory">
    UPDATE SALESHISTORY
    SET P_STATE =
    <choose>
        <when test="p_state == 0">
            '결제완료'
        </when>
        <when test="p_state == 1">
            '배송 준비완료'
        </when>
        <when test="p_state == 2">
            '배송중'
        </when>
        <when test="p_state == 3">
            '배송완료'
        </when>
    </choose>
    WHERE S_NO = #{s_no}
    AND PAYNUM = #{paynum}
</update>
 
</mapper>





   