<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Store">
	
	<!-- 영태 -->
<select id="SearchList1" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_NAME     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
</select>
<select id="SearchList2" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_LOCATION     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
</select>
<select id="SearchList3" resultType="com.green.store.vo.RegVo">
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S     ON WL.S_NO = S.S_NO
    WHERE     W.W_VINTAGE     LIKE '%' || INITCAP(#{searchKeyword}) || '%'
</select>
   
	<!-- 민규 -->
	<select id="SelectStoreList" resultType="com.green.store.vo.StoreVo">
		SELECT *
		 FROM  STORE
		WHERE  S_ADDRESS= #{ u_address }
		
	</select> 
	
	<!-- 민규 -->
	<select id="SelectStrVo" resultType="com.green.store.vo.StoreVo">
		SELECT *
		 FROM  STORE
		WHERE  S_NO = #{ s_no }
	</select>
	
	<!-- 영태 -->
	<insert id="InsertWine" parameterType="map">
    
    INSERT INTO WINELIST (W_NO, W_AMOUNT, W_PRICE, S_NO, WL_IDX)
    VALUES (#{selectedOption}, #{w_amount}, #{w_price}, #{s_no}, ( SELECT NVL(MAX(WL_IDX),0)+1 FROM WINELIST))
   </insert>
	
	 <select id="Storelogin"
      resultType="com.green.store.vo.StoreVo">
		SELECT *
		 FROM  STORE
		WHERE S_ID = #{ s_id }
		 AND  S_PW = #{ s_pw }
   </select>
   
	<!--  매장가입 -->
	<insert id="StoreInsert">

		INSERT INTO STORE (
			S_NO,
			S_ID,
			S_PW,
			S_NAME,
			S_SN,
		    S_POSTCODE,
	        S_ADDRESS,
            S_DETAILADDRESS,
	        S_EXTRAADDRESS,
			S_PHONE,
			S_CONT,
			S_IMG
		) VALUES (
		( SELECT NVL(MAX(S_NO),0)+1 FROM STORE),
		#{ s_id },
		#{ s_pw },
		#{ s_name },
		#{ s_sn },
		#{ s_postcode },
		#{ s_address },
		#{ s_detailAddress },
		#{ s_extraAddress },
		#{ s_phone },
		#{ s_cont },
		#{ s_img }
		)
	</insert>
	
	<!-- 임규 -->
	<select id="WineList" resultType="com.green.store.vo.HavingWineVo">
   
      SELECT W.W_NAME,
       W.W_LOCATION,
       W.W_KIND,
       W.W_VINTAGE,
       WL.W_AMOUNT,
       WL.W_PRICE,
       S.S_NAME,
       WL.WL_IDX,
       S.S_NO,
       W.W_NO
      FROM WINELIST WL
       INNER JOIN WINE W ON WL.W_NO = W.W_NO
       INNER JOIN STORE S ON S.S_NO = WL.S_NO
       WHERE S.S_NO = #{s_no}
   
   </select> 
    
   <!-- 임규 -->
   <update id="UpdateWineList">
   UPDATE WINELIST
   SET    W_AMOUNT  =  #{w_amount},
          W_PRICE   =  #{w_price}
   WHERE  WL_IDX  =  #{wl_idx}
   </update>
   
   <delete id="DeleteWineList">
   
   DELETE FROM WINELIST
   WHERE  WL_IDX  =  #{wl_idx}
   
   </delete>
   
   <select id="SelectList" resultType="com.green.store.vo.HavingWineVo">
   
   SELECT W.W_NAME,
       W.W_LOCATION,
       W.W_KIND,
       W.W_VINTAGE,
       WL.W_AMOUNT,
       WL.W_PRICE,
       WL.WL_IDX,
       S.S_NO,
       W.W_NO
      FROM WINELIST WL
       INNER JOIN WINE W ON WL.W_NO = W.W_NO
       INNER JOIN STORE S ON S.S_NO = WL.S_NO
       WHERE WL.WL_IDX  =  #{wl_idx}
   
   
   </select>
   
   
</mapper>





   