<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">  

  	<!-- 유저로그인/세션 구현 -->
  	<select id="UserLogin"
      resultType="com.green.user.vo.UserVo">
      SELECT *
      FROM TUSER
      WHERE U_ID = #{ u_id }
       AND  U_PW = #{ u_pw }
  	</select>


	<!-- 유저 회원가입 구현 -->
	<insert id="UserInsert">

		INSERT INTO TUSER (
		U_NO,
		U_ID,
		U_PW,
		U_NAME,
		U_BIRTH,
		U_SI,
		U_GU,
		U_PHONE
		) VALUES (
		( SELECT NVL(MAX(U_NO),0)+1 FROM TUSER),
		#{ u_id },
		#{ u_pw },
		#{ u_name },
		#{ u_birth },
		#{ u_si },
		#{ u_gu },
		#{ u_phone }
		)

	</insert>
<!--
   <delete id="UserDelete">
   
      DELETE  FROM   TUSER
        WHERE  USERID = #{ userid }  
           
   </delete>
 -->
 
</mapper>





   