<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Wine">
	
	<select id="GetWineInfo" resultType="com.green.store.vo.WineVo">

SELECT W_NO,
       W_NAME,
       W_KIND,
       W_LOCATION,
       W_VINTAGE,
       W_AVG,
       W_REVIEWS,
       W_IMAGE,
       W_WINEERY
       FROM WINE
       WHERE W_NO = #{w_no}

</select>

<select id="GetStoreList" resultType="com.green.store.vo.HavingWineVo">

SELECT S.S_NAME, WL.W_PRICE, S.S_NO
FROM STORE S
INNER JOIN WINELIST WL ON S.S_NO = WL.S_NO
WHERE WL.W_NO  =  #{w_no}



</select>

<!-- 영태 와인이름으로 검색 -->
     <select id="NameSearch" resultType="com.green.store.vo.RegVo" parameterType="Map">
       SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
      SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
      FROM WINE W
         LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
         LEFT JOIN STORE S ON WL.S_NO = S.S_NO
      WHERE
         W.W_NAME LIKE '%' || UPPER(#{name_Search}) || '%' AND WL.WL_IDX >= 1 
      OR W.W_NAME LIKE '%' || LOWER(#{name_Search}) || '%' AND WL.WL_IDX >= 1
      OR W.W_NAME LIKE '%' || INITCAP(#{name_Search}) || '%' AND WL.WL_IDX >= 1
       ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
    </select>
   
   <!-- 영태 모든와인종류 클릭 -->
     <select id="AllClick" resultType="com.green.store.vo.RegVo" parameterType="Map">
      SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
      SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
      FROM WINE W
         LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
         LEFT JOIN STORE S ON WL.S_NO = S.S_NO
	     WHERE 1 = 1 AND WL.WL_IDX >= 1 
	     ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
   </select>
   
   <!-- 영태 레드와인 클릭 -->
    <select id="RedClick" resultType="com.green.store.vo.RegVo" parameterType="Map">
          SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S ON WL.S_NO = S.S_NO
    WHERE W_KIND = 'RED'  AND WL.WL_IDX >= 1 
     ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
   </select>
   
   <!-- 영태 화이트와인 클릭 -->
     <select id="WhiteClick" resultType="com.green.store.vo.RegVo" parameterType="Map">
   SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S ON WL.S_NO = S.S_NO
    WHERE W_KIND = 'WHITE' AND WL.WL_IDX >= 1
     ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
   </select>

<!-- 영태 스파클링와인 클릭 -->
     <select id="SparkClick" resultType="com.green.store.vo.RegVo" parameterType="Map">
       SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S ON WL.S_NO = S.S_NO
    WHERE W_KIND = 'SPARKLING' AND WL.WL_IDX >= 1
     ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
   </select>
   
   <!-- 영태 로제와인 클릭 -->
     <select id="RoseClick" resultType="com.green.store.vo.RegVo" parameterType="Map">
           SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S ON WL.S_NO = S.S_NO
    WHERE W_KIND = 'ROSE' AND WL.WL_IDX >= 1
     ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
   </select>
   
   <!-- 영태 나머지버튼 클릭 -->
     <select id="OtherClick" resultType="com.green.store.vo.RegVo" parameterType="Map">
           SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
    SELECT W.*, WL.W_AMOUNT, WL.W_PRICE, S.S_NO
    FROM WINE W
    LEFT JOIN WINELIST WL ON W.W_NO = WL.W_NO
    LEFT JOIN STORE S ON WL.S_NO = S.S_NO
    WHERE W_KIND = 'DESSERT' AND WL.WL_IDX >= 1 
    OR W_KIND = 'PORT' AND WL.WL_IDX >= 1
     ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
   </select>
<select id="CountWine" resultType="int">

SELECT COUNT(*) FROM WINE

</select> 
</mapper>





   